html{
  width:100%;
  height:100%;

}

body{

  position: relative;
  background: rgb(215,191,143);
  background: linear-gradient(344deg, rgba(215,191,143,1) 0%, rgba(0,0,0,1) 39%); 
}

.container{
  /* background: rgb(133,105,59);
  background: linear-gradient(344deg, rgba(133,105,59,1) 0%, rgba(245,220,168,1) 100%);  */
}


h2, h1{
  padding-top: none;
  text-align:center;
  color: white;
}
p{
  padding-top: none;
  
}

.rock-btn:hover{
    cursor:pointer;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.paper-btn:hover{
  cursor: pointer;
  background-repeat: no-repeat;
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.scissors-btn:hover{
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);


}

.far .fa-hand-scissors{
  height:50px;
  width:50px;
}

.scissors-btn, .paper-btn, .rock-btn{
  border-radius: 50%;
  height:100px;
  width:100px;
  font-size: 24px;
}
.row{
  display:flex;
  justify-content: space-evenly;
}
.column{
  padding: 5px;
}

.scoreBox{
  position: absolute;
  top: 30em;
  right: 5em;
  width: 300px;
  border: 1px solid rgb(255, 255, 255);
  background-image: url(../img/rps.jpg);
  color:white;
}

.results{
  text-align: center;
  color: white;

}

/* making my header cool */
header {
  position: relative;
  height: 300px;
  background-image: url(../img/rps.jpg);
  background-size: cover;
  overflow: hidden;
  


}
svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}
